:root {
  --clr--neutral--900: hsl(183, 100%, 15%);
  --clr--neutral--700: hsl(186, 14%, 43%);
  --clr--neutral--600: hsl(184, 14%, 56%);
  --clr--neutral--300: hsl(185, 41%, 84%);
  --clr--neutral--200: hsl(189, 41%, 97%);
  --clr--neutral--100: hsl(0, 0%, 100%);

  --clr--primary: hsl(172, 67%, 45%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.app-name {
  display: grid;
  place-items: center;
  margin-bottom: -3em;
  color: var(--clr--neutral--900);
  letter-spacing: 3px;
  line-height: 1.5;
  font-size: 1.5rem;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--clr--neutral--300);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 85vw;
  min-width: 800px;
  width: 50vw;
  background-color: var(--clr--neutral--100);
  border-radius: 2em;
  padding: 1.8em 1.8em;
  box-shadow: -2px 10px 15px 8px rgba(1, 119, 126, 0.1);
}

.row {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border-radius: 1.5em;
  min-width: 300px;
}

/*** LEFT SIDE COLUMN ***/
.col-left > div {
  margin: 0.5em 0;
}

.col-left h2 {
  margin-bottom: 0.2em;
  font-size: 1rem;
  color: var(--clr--neutral--700);
}

form {
  display: flex;
  align-items: center;
  height: 2.8em;
  border-radius: 0.25em;
  position: relative;
}

form svg {
  position: absolute;
  left: 1em;
  font-weight: 700;
}

input {
  background-color: var(--clr--neutral--200);
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 2.5em;
  padding-right: 2.25em;
  text-align: right;
}

input::placeholder {
  font-size: 1.75rem;
  color: var(--clr--neutral--900);
  font-weight: 900;
  padding-left: 2.5em;
  padding-right: 2.25em;
}

input:focus {
  font-size: 1.75rem;
  color: var(--clr--neutral--900);
  font-weight: 900;
  padding-left: 2.5em;
  padding-right: 1.25em;
}

.bill-form {
  margin-bottom: 1.5em;
}

.split-people {
  margin-top: 1em;
}

#tip-selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

#tip-selector div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  padding: 0.5em 0.25vw;
  background-color: var(--clr--neutral--900);
  color: var(--clr--neutral--100);
  border-radius: 0.25em;
}

#custom-amount {
  background-color: var(--clr--neutral--300);
  color: var(--clr--neutral--900);
}

/*** RIGHT SIDE COLUMN ***/
.col-right {
  padding: 2em;
  background-color: var(--clr--neutral--900);
  color: var(--clr--neutral--300);
}

.amount-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.amount-details > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.amount-info h2 {
  display: inline;
  font-size: 1rem;
}

.amount-info p {
  display: inline;
  font-size: 0.8rem;
  color: var(--clr--primary);
}

.amount {
  display: flex;
  flex-direction: row;
  font-size: 2.2rem;
  color: var(--clr--primary);
  margin-left: 1em;
}

#resetBtn {
  padding: 0.8em;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 700;
  border: none;
  border-radius: 0.25em;
  margin-top: 3em;
  background-color: var(--clr--primary);
  color: var(--clr--neutral--900);
}

#resetBtn:hover {
  background-color: rgb(207, 2, 2);
  color: var(--clr--neutral--100);
}

#resetBtn-inactive {
  background-color: var(--clr--neutral--600);
  color: var(--clr--neutral--300);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*********************
MOBILE SCREENS
********************/

@media only screen and (max-width: 800px) {
  .container {
    max-width: 85vw;
    min-width: 375px;
    width: 70vw;
    padding: 1.8em 1.8em;
    margin-top: 2em;
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .col {
    width: 100%;
  }

  .col-right {
    margin: 1em 0;
  }

  .amount-details {
    align-items: center;
    justify-content: baseline;
  }

  .amount-info h2 {
    font-size: 0.8rem;
  }

  .amount-info p {
    font-size: 0.7rem;
  }

  .amount {
    font-size: 1.75rem;
  }

  #resetBtn {
    margin-top: 1.5em;
  }
}
